.title-test {
  position: relative !important;
  font-size: 16px;
  font-weight: 600;
  margin-left: 110px;
  width: 200px;
}

.title-test::before {
  content: "" !important;
  position: absolute !important;
  width: 50% !important;
  height: 2px !important;
  top: 16px !important;
  left: -110px !important;
  background-color: #2196f3 !important; /* Change to your desired color */
}

@media screen and (max-width: 1000px) {
  .test-outest {
    padding: 100px 40px !important;
  }
}
@media screen and (max-width: 750px) {
  .test-outest {
    padding: 100px 10px !important;
  }
  .left-test-text {
    padding: 30px 20px !important;
  }
  .appos-left {
    left: 20px !important;
    top: 10px !important;
    width: 20px !important;
  }
  .appos-right {
    right: 20px !important;
    bottom: 10px !important;
    width: 20px !important;
  }
  .test-pic {
    height: 350px !important;
  }
}
@media screen and (max-width: 600px) {
  .test-outest {
    padding: 100px 10px !important;
  }
  .left-test-text {
    padding: 30px 20px !important;
  }
  .appos-left {
    left: 20px !important;
    top: 10px !important;
    width: 20px !important;
  }
  .appos-right {
    right: 20px !important;
    bottom: 10px !important;
    width: 20px !important;
  }
  .test-pic {
    height: 300px !important;
  }
}
@media screen and (max-width: 500px) {
  .test-outest {
    padding: 50px 20px 100px 20px !important ;
  }
  .test-content {
    flex-direction: column !important;
  }
  .left-test-text {
    top: 250px !important;
    left: 5% !important;
    width: 90% !important;
  }
  .test-pic {
    width: 100% !important;
  }
}
